/*--
Author: Muktar Hussain
Author Titile: Fornt-end Developer and Wordpress Developer
Author Github URL: https://github.com/hussainkawsar98
Author Twitter URL:https://twitter.com/hussainkawsar98
Author LinkedIn URL: https://www.linkedin.com/in/muktar-hussain-b1138116a/
--*/
/* Global style */
body {
    color: #40567c;
}
a {
    color: #40567c;
    text-decoration: none;
}
p {
    margin: 0;
    font-size: 14px;
}
.secondary_color {
    color: #517ee3;
}


/* Main Content Style */
.main_contant {
    padding: 10px;
    padding-left: 60px;
    background-color: #f1f1f1;
    height: 100vh;
    width: 100vw;
}

/* Left Option Style */
.left_option_bar {
    background-color: #3166de;
    position: absolute;
    top: 0;
    display: flex;
    bottom: 0;
    text-align: center;
    width: 4%;
    left: 0;
    justify-content: center;
}
.left_option_bar .logo {
    position: absolute;
    top: 20px;
}
.left_option_bar i {
    color: #ffffff;
    font-size: 20px;
}

.more_option {
    position: absolute;
    top: 30%;
}
.profile_icon {
    position: absolute;
    bottom: 20px;
}
.left_option_bar .more_option a {
    color: #ffffff;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
}
.left_option_bar .more_option a.active {
    background-color: #598af7;
}
.left_option_bar .more_option a:hover {
    background-color: #598af7;
}
.left_option_bar .more_option a i {
    font-size: 16px;
    line-height: 30px;
}
.left_option_bar .profile_icon a {
    width: 28px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #c9e8f9;
    padding: 5px;
}
.left_option_bar .profile_icon a i {
    color: #61d9d8;
}


/* Left Part Style */
.left_part {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 5%;
    top: 10px;
    bottom: 10px;
    width: 25%;
}
.left_part .brand_title {
    display: flex;
    height: 80px;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding: 18px 10px 15px 10px;
}
.left_part .brand_left h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.left_part .brand_right img{
    width: 20px;
}
.left_part .brand_right {
    padding-top: 5px;
}


/* Search Box Style */
.search_box {
    padding: 10px;
}
.search_box form {
    position: relative;
}
.search_box .form-control {
    border-radius: 20px;
    padding: 8px;
    padding-left: 30px;
    border: none;
    background-color: #f8fafd;
}
.search_box .form-control:focus {
    border-color: #ccc;
    box-shadow: #f8fafd 0px 7px 29px 0px;
}
.search_box input::placeholder {
    color: #ccc;
    font-size: 14px;
}
.search_box form i {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 14px;
    color: #ccc;
}

/* Message Group */
.user_messages_group {
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 141px;
    bottom: 10px;
}
.user_messages_group::-webkit-scrollbar {
    display: none;
}
.user_messages_group .user_message_group_single {
    display: flex;
    column-gap: 10px;
    padding: 12px 0px 0 7px;
}
.user_messages_group .short_view p{
    font-size: 13px;
}
.user_messages_group .short_view i{
    font-size: 15px;
    padding-right: 3px;
}
.user_messages_group .short_view .video_miss, .short_view .voice_miss {
    color: #ff6d55;
}
.user_messages_group a:hover {
    background-color: #f0f5fd;
    color: #40567c;
}
.user_messages_group .user_message_group_single.active {
    background-color: #f0f5fd;
}
.user_messages_group .user_message_group_single:hover {
    background-color: #f0f5fd;
}
.user_messages_group .profile_img {
    width: 55px;
    height: 55px;
    position: relative;
}
.user_messages_group .profile_img.active span {
    position: absolute;
    background-color: #517ee3;
    width: 12px;
    height: 12px;
    right: 3px;
    bottom: 3px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.user_messages_group .profile_img.not_active span {
    background-color: #96a6c2;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 3px;
    bottom: 3px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.user_messages_group .profile_img img {
    border-radius: 50%;
}
.user_messages_group .profile_name h5 {
    margin-bottom: 4px;
    font-size: 14px;
}
.user_messages_group .user_message_group_single .msg_right_part {
    padding: 5px 10px 20px 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.user_messages_group .user_message_group_single.active .msg_right_part {
    border-bottom: transparent;
}
.user_messages_group .msg_right_part .notification_part i {
    font-size: 14px;
    padding-left: 9px;
}
.user_messages_group .msg_right_part .notification_part span {
    padding: 0 5px;
    background-color: #517ee3;
    border-radius: 10px;
    color: #fff;
    height: 20px;
    line-height: 18px;
    margin-top: 5px;
    display: block;
    text-align: center;
    width: 20px;
    margin-left: 9px;
    float: right;
}

/* Real Message Profile */
.real_time_messge {
    position: absolute;
    background-color: #fff;
    left: 31%;
    width: 45%;
    bottom: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    top: 10px;
    border-bottom-right-radius: 10px;
}
.real_time_messge .real_time_profile {
    background-color: #fff;
    padding: 15px 10px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #f1f1f1;
}
.real_time_messge .message_body {
    padding: 10px;
    position: absolute;
    top: 81px;
    bottom: 40px;
    overflow: hidden;
    overflow-y: scroll;
}
.real_time_messge .message_body::-webkit-scrollbar {
    display: none;
    width: 0px;
}
.real_time_messge .message_body {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
.real_time_profile .real_prof_left_part {
    display: flex;
    align-items: center;
}
.real_time_profile .real_prof_left_part h4 {
    font-size: 18px;
    margin-bottom: 3px;
}
.real_time_profile .real_prof_left_part .img {
    width: 70px;
}
.real_time_profile .real_prof_left_part  img {
    width: 55px;
}
.real_time_profile .real_prof_right_part img {
    max-width: 95px;
    padding-left: 10px;
}
.real_time_profile .real_prof_right_part .option {
    max-height: 40px ;
}

/* Message Body */
.message_body {
    padding: 10px;
}
.message_part_right p {
    font-size: 17px;
    background-color: #dbe9fc;
    padding: 12px 30px 12px 15px;
    margin: 2px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
}
.message_part_right span {
    display: block;
    padding: 5px 0;
    font-size: 14px;
}
.message_part_right p i {
    position: absolute;
    bottom: 8px;
    right: 10px;
}
.message_part_left .chat_img{
    position: relative;
    width: 40px;
}
.message_part_left .chat_img img{
    width: 40px;
    border-radius: 50%;
}
.message_part_left .chat_img span {
    position: absolute;
    background-color: #517ee3;
    width: 10px;
    height: 10px;
    border-radius: 9px;
    bottom: 1px;
    right: 1px;
    border: 2px solid #fff;
}
.chat_group {
    margin-bottom: 12px;
}
.chat_single {
    margin: 6px 6px 6px 15px;
    padding: 7px 13px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}
.chat_single h5 {
    margin:2px;
    font-weight: bold;
    font-size: 17px;
}
.chat_single p {
    font-size: 17px;
}
.chat_group > span {
    margin-left: 15px;
    font-size: 14px;
    display: block;
}
.chat_single a {
    padding: 10px;
    position: absolute;
    right: -35px;
    bottom: 20px;
    display: inline-block;
    padding-bottom: 8px;
}
.chat_single > img {
    position: absolute;
    right: -20px;
    bottom: 10px;
    height: 17px;
    cursor: pointer;
}
.chat_single > img.share {
    position: absolute;
    right: -48px;
    bottom: 11px;
    height: 15px;
    width: 15px;
}
.chat_single .inner_chat {
    column-gap: 10px;
}
.chat_single .inner_chat img {
    width: 25px;
}
.chat_single .inner_chat p {
    font-size: 13px;
    font-weight: bold;
}
.chat_group .inner_chat .f_title > span {
    margin: 0px;
    font-size: 12px;
}
.chat_group .inner_chat .f_title > span:last-child {
    padding-left: 10px;
    font-size: 12px;
}
.message_input .emoji {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 42px;
    background-color: #f8faff;
    text-align: center;
    height: 42px;
    border-bottom-left-radius: 10px;
    line-height: 42px;
    border-right: 1px solid #f8faff;
}
.message_input .emoji img {
    cursor: pointer;
}
.input_box {
    position: absolute;
    left: 43px;
    bottom: 0px;
    right: 120px;
}
.input_box .form-control {
    height: 42px;
    border: none;
    border-top: 2px solid #f8faff;
    border-radius: 0px;
    color: #40567c;
}
.input_box .form-control:focus {
    box-shadow: none;
}
.input_box .form-control::placeholder {
    font-style: italic;
}
.message_input .attach_file {
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 2px solid #f8faff;
    height: 42px;
    padding-left: 7px;
    border-top: 2px solid #f8faff;
    width: 120px;
}
.message_input ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 32px;
}
.message_input ul li {
    display: inline-block;
    padding: 2px;
}
.message_input ul li img{
    cursor: pointer;
}


/* Right Part Style */
section.right_part {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    right: 10px;
    top: 10px;
    bottom: 10px;
    left: 77%;
    overflow-y: scroll;
}
section.right_part::-webkit-scrollbar {
    display: none;
    width: 0px;
}
.right_part .sender-profile {
    padding: 20px 10px;
}
.right_part .p_img {
    position: relative;
    overflow: hidden;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    width: 95px;
    padding: 3px;
    height: 95px;
}
.right_part .p_img img {
    width: 85px;
    text-align: center !important;
}
.right_part .p_img a {
    left: 3px;
    position: absolute;
    right: 3px;
    background-color: #f1f1f1;
    bottom: 0px;
    border-bottom-left-radius: 50%;
    text-align: center;
}
.right_part .profile_img h3 {
    text-align: center!important;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 10px 0px;
}
.right_part .profile_img h4.text-center {
    font-size: 16px;
}
.right_part .profile_img h4.text-center img {
    width: 17px;
}
.right_part .profile_img h4 a img{
    width: 20px;
    padding-left: 5px;
}
.right_part .sender-profile > h5 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin: 17px 0px 0px 0px;
}
.right_part .notification_mute {
    padding: 0px 10px 0px 10px;
}
.right_part .notification_mute .d-flex {
    display: flex!important;
    align-items: center;
    column-gap: 10px;
}
.right_part .notification_mute h5 {
    font-size: 18px;
    margin-bottom: 5px;
}
.right_part .notification_mute {
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.right_part .notification_mute .notif_btn > a img {
    height: 27px;
}
.right_part div#myTabContent, .right_part .tab-content {
    padding: 10px;
}
.right_part .nav-tabs, .right_part .nav-pills {
    border-bottom: none;
    padding: 15px 0px 3px 0;
    background-color: #f9fbff;
}
.right_part .nav {
    width: 100%;
    justify-content: space-around;
}
.right_part .nav-link {
    padding: 0px;
    font-weight: bold;
    color: #98a7c1;
}
.right_part .nav-tabs .nav-link, .right_part .nav-pills .nav-link {
    border: none;
    padding-bottom: 13px;
}
.right_part .nav-pills .nav-link {
    border-radius: 0px;
}
.right_part .nav-tabs .nav-link:focus {
    color: #40567c;
}
.right_part .nav-tabs .nav-link:hover {
    color: #40567c;
}
.right_part .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .right_part .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    border-color: none;
    border-bottom: 3px solid #40567c;
    color: #40567c;
}
.right_part div#myTabContent {
    padding: 10px;
}
.right_part .nav_single_user {
    margin-bottom: 20px;
    border-bottom: 2px solid #eef4fa;
    padding-bottom: 10px;
}
.right_part .nav_single_user:last-child {
    border-bottom: none;
}
.right_part .nav_user.d-flex {
    display: flex!important;
    align-items: center;
    column-gap: 10px;
}
.right_part .nav_user .user_txt h4{
    font-size: 17px;
    font-weight: bold;
}
.right_part .user_docs.d-flex {
    display: flex!important;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0px;
    border: 1px solid #eef4fa;
}
.right_part .user_docs .doc_img img {
    height: 50px;
}
.right_part .user_docs .doc_txt h4 {
    font-size: 16px;
    margin-bottom: 2px;
}
.right_part .user_docs .doc_txt p {
    font-size: 13px;
}

/* Responsive style */

.responsive .btn {
    background-color: #3166de;
    font-size: 18px;
    width: 40px;
    padding: 0px;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    position: absolute;
    right: 21px;
    z-index: 99999;
}
.responsive .btn:focus {
    box-shadow: none;
}
.responsive .btn.left {
    top: 30px;
}
.responsive .btn.realMsg {
    top: 80px;
}
.responsive .btn.right {
    top: 130px
}
.responsive .left_part {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    max-width: 850px!important;
    height: 97vh;
    margin: 0 auto;
    padding: 0;
    bottom: 10px;
}
.responsive .real_time_messge {
    position: absolute;
    background-color: #fff;
    width: 850px;
    bottom: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
}
.responsive .real_time_messge .message_body {
    width: 100%;
}
.responsive .real_time_messge .real_time_profile {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.responsive .right_part {
    right: 0;
    width: 650px;
    left: 0;
    margin: 0 auto;
}
.offcanvas {
    background-color: transparent;
}
.offcanvas-body {
    margin: 0 auto;
    width: 800px;
    overflow-y: hidden;
}
.user_messages_group {
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 141px;
    width: 100%;
    bottom: 10px;
}
.offcanvas-top {
    bottom: 0!important;
    top: 0;
    border-bottom: none;
    right: 0;
    left: 0;
    bottom: 10px;
    height: 100vh;
    max-height: 100%;
    border-bottom: 1px solid rgba(0,0,0,.2);
    transform: translateY(-100%);
    margin: 0 auto;
}



/* Media Query */
@media screen and (min-width: 1400px) {
    .responsive .btn.left {
        display: none;
    }
    .responsive .btn.realMsg {
        display: none;
    }
    .responsive .btn.right {
        display: none;
    }
}
@media screen and (max-width: 1399.99px) and (min-width: 1200px) {
    .responsive .left_part {
        max-width: 850px;
        left: 0!important;
        margin: 0 auto;
        right: 0;
    }
    .message_body {
        width: 100%;
    }
    section.right_part {
        display: none;
    }
    .responsive section.right_part {
        display: block;
    }
    .left_part {
        left: 5%;
        width: 33%;
    }
    .real_time_messge {
        left: 39.5%;
        width: 59%;
    }
    .responsive .btn.left {
        display: none;
    }
    .responsive .btn.realMsg {
        display: none;
    }
    .responsive .btn.right {
        top: 80px
    }
}

@media screen and (max-width: 1199.99px) and (min-width: 992px) {
    .left_option_bar {
        width: 7%;
    }
    .left_part {
        left: 9%;
        width: 88%;
    }
    .real_time_messge {
        display: none;
    }
    .responsive .real_time_messge {
        display: block;
        width: 720px;

    }
    section.right_part {
        display: none;
    }
    .responsive section.right_part {
        display: block;
        width: 720px;
    }
    .responsive .btn.left {
        display: none;
    }
    .responsive .btn.realMsg {
        top: 30px;
    }
    .responsive .btn.right {
        top: 80px
    }
}
@media screen and (max-width: 991.99px) and (min-width: 768px) {
    .left_option_bar {
        width: 7%;
    }
    .left_part {
        left: 9%;
        width: 86%;
    }
    .real_time_messge {
        display: none;
    }
    .responsive .real_time_messge {
        display: block;
        width: 720px;

    }
    section.right_part {
        display: none;
    }
    .responsive section.right_part {
        display: block;
        width: 720px;
    }
    .responsive .btn.left {
        display: none;
    }
    .responsive .btn.realMsg {
        top: 30px;
    }
    .responsive .btn.right {
        top: 80px
    }
}
@media screen and (max-width: 767.99px) and (min-width: 576px) {
    .left_option_bar {
        width: 9%;
    }
    .left_part {
        left: 11%;
        width: 86%;
    }
    .real_time_messge {
        display: none;
    }
    .responsive .real_time_messge {
        display: block;
        width: 550px;

    }
    section.right_part {
        display: none;
    }
    .responsive section.right_part {
        display: block;
        width: 550px;
    }
    .responsive .btn.left {
        display: none;
    }
    .responsive .btn.realMsg {
        top: 30px;
    }
    .responsive .btn.right {
        top: 80px
    }
}
@media screen and (max-width: 575.99px) {
    .left_option_bar {
        width: 9%;
    }
    .left_part {
        left: 11%;
        width: 86%;
    }
    .real_time_messge {
        display: none;
    }
    .responsive .real_time_messge {
        display: block;
        width: 450px;

    }
    section.right_part {
        display: none;
    }
    .responsive section.right_part {
        display: block;
        width: 450px;
    }
    .responsive .btn.left {
        display: none;
    }
    .responsive .btn.realMsg {
        top: 30px;
    }
    .responsive .btn.right {
        top: 80px
    }
}